<h1>Company Listing</h1>

<table class="table table-hover table-bordered">
	<tbody>
		<tr>
			<th>Company</th>
		</tr>
		<% @companies.each do |company| %>
		<tr>
			<td><%= link_to company.name, company %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<% content_for :aside do %>
   <td><%= link_to 'New Company', new_company_path %></td>
<% end %>